.tweet-card {
    background: var(--primary-background-color);
    padding: 1rem;
    display: flex;
    gap: 10px;
    border: .1px solid var(--border-color);

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .tweet-content {
        flex: 1;

        .tweet-header {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .selected-option {
                border: .1px solid var(--border-color);
                background: #242424;
                padding: 4px 8px;
                border-radius: 12px;
                font-size: 12px;
            }
            
            .user-data {
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: start;
                justify-content: center;
            }

            .tweet-name {
                font-weight: bold;
                width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .tweet-username {
                color: var(--secondary-color);
                width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .tweet-time {
                font-size: 12px;
                color: darkgray;
            }
        }

        .tweet-text {
            margin-top: 6px;
            color: var(--primary-color);
            font-size: 14px;
        }

        .tweet-engagement {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            font-size: 12px;
            
            .engagement-item {
                display: flex;
                align-items: center;
                gap: 6px;
                cursor: pointer;
                color: var(--secondary-color);
                
                &:hover {
                    color: var(--primary-color);
                }

                i {
                    font-size: 16px;
                }
            }
        }
    }
}
