.home-container {
    background: var(--primary-background-color);
    color: var(--primary-color);
    height: 100%;

    .home-wrapper {
        display: flex;
        width: calc(100vw - 2rem);
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        
        .home-layout {
            display: flex;
            max-width: 1200px;
            gap: 2rem;
            margin: 1rem auto;

            .panel {
                position: sticky;
                top: 0;
            }
            
            .home-feed {
                height: calc(100vh - 6rem);
                flex: 1;
                overflow-y: auto;
                scrollbar-color: white #000;
                padding: 0 1rem;
            }
        }
    }
}


