@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

:root {
  --primary-background-color: #000;
  --secondary-background-color: #000;
  --primary-color: #ffffff;
  --secondary-color: #8899ac;
  --font-family: 'Nunito';
  --button-background-color: #4087bb;
  --button-text-color: #fff;
  --border-color: #494949;
  --hover-background-color: #181818;
}

* {
  font-family: var(--font-family);
  /* color: var(--primary-color); */
  transition: all 0.2s ease-in-out;
}

.App {
  background: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
}